<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="description" content="Tu App favorita para gestionar aulas en centros educativos">
    <meta name="author" content="José M. Ruiz Laguna">

    <title>GestiApp</title>

    <!-- Custom fonts for this template-->

    <link href="../vendor/fontawesome-free/css/all.min.css" th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/main-style.css" th:href="@{/css/main-style.css}" rel="stylesheet">

</head>

<body>

    <div id="wrapper">
        <ul th:replace="sidebar_footer.html :: sidebar"></ul>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
                        <h1 class="h3 mb-0 text-gray-800" th:text="#{edit}">Editar</h1>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Body -->
                                <div class="card-body">
                                  <form method="POST" th:action="@{/admin/editRoom/submit}" th:object="${room}">
                                  	<input th:if="${room.id != 0}" type="hidden" name="id" th:field="*{id}" />
             							
	                                  	<div class="form-group">
	                                  		<label for="name" th:text="#{roomName}">Nombre del aula: </label>
											<div class="col-sm-6">
												<input type="text" class="form-control form-control-user"
													name="name" id="name" th:field="*{name}"
													placeholder="Nombre" required>
											</div>
										</div>
										<div class="form-group">
											<label for="name" th:text="#{school}">Colegio: </label>
											<div class="col-sm-6">
												<select class="form-control" th:field="*{school}" required>
													<option value="">N/A</option>
													<option th:each="school : ${schools}"
															th:value="${school.id}"
															th:text="${school.name}">
													</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label for="name" th:text="#{specialization}">Especialización: </label>
											<div class="col-sm-6">
												<select class="form-control" th:field="*{roomCategory}" required>
													<option value="">N/A</option>
													<option th:each="roomCategory : ${roomCategories}"
															th:value="${roomCategory.id}"
															th:text="${roomCategory.categoryName}">
													</option>
												</select>
											</div>
											<br>
										</div>
											<button class="ml-2 btn btn-primary btn-danger btn-user btn-block col-4"
											type="submit" name="editar" th:text="#{edit}">Editar</button>
                                  </form>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="sidebar_footer.html :: footer"></footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- BS JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script th:src="@{/js/app.js}"></script>
</body>
</html>