<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="description"
	content="Tu App favorita para gestionar aulas en centros educativos">
<meta name="author" content="José M. Ruiz Laguna">

<title>GestiApp</title>

<!-- Custom fonts for this template-->

<link href="../vendor/fontawesome-free/css/all.min.css"
	th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="../static/css/main-style.css"
	th:href="@{/css/main-style.css}" rel="stylesheet">

</head>

<body>

	<div id="wrapper">
		<ul th:replace="sidebar_footer.html :: sidebar"></ul>
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
						<h1 class="h3 mb-0 text-gray-800" th:text="#{teachersToValidate}">Profesores a validar</h1>
					</div>

					<!-- Content Row -->

					<div class="row">

						<!-- Area Chart -->
						<div class="col-xl-8 col-lg-7">
							<div class="card shadow mb-4">
								<!-- Card Header - Dropdown -->
								<div
									class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold" th:text="#{listUnvTeacher}">Lista de profesores no
										validados</h6>
								</div>
								<!-- Card Body -->
								<div class="card-body">
									<table class="table" id="tabla">
										<thead>
											<tr>
												<th scope="col">ID</th>
												<th scope="col" th:text="#{email}">EMAIL</th>
												<th scope="col" th:text="#{name}">NOMBRE</th>
												<th scope="col" th:text="#{surname}">APELLIDOS</th>
												<th scope="col" th:text="#{validateT}">¿VALIDAR?</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="user : ${users}">
												<td th:text="${user.id}"></td>
												<td th:text="${user.userEmail}"></td>
												<td th:text="${user.name}"></td>
												<td th:text="${user.surname}"></td>
												<td><a href="/admin/validate"
													th:href="@{/admin/validate/{id}(id=${user.id})}">
														<button type="button" class="btn btn-danger" th:text="#{validateT}">
															Validar
														</button>
												</a><!-- TODO aquí para ver como validar --></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer th:replace="sidebar_footer.html :: footer"></footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- BS JavaScript -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>
  <div id="wrapper">
	<ul th:replace="sidebar_footer.html :: sidebar"></ul>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
            <h1 class="h3 mb-0 text-gray-800" th:text="#{validateT}">Profesores a validar</h1>
          </div>

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold" th:text="#{classroomList}">Lista de aulas</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <table class="table" id="tabla">
                    <thead>
                          <tr>
                        <th scope="col">ID</th>
                        <th scope="col" th:text="#{email}">EMAIL</th>
                        <th scope="col" th:text="#{name}">NOMBRE</th>
                        <th scope="col" th:text="#{surname}">APELLIDOS</th>
                        <th scope="col" th:text="#{validateT}">¿VALIDAR?</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="user : ${users}">
                          <td th:text="${user.id}"></td>
                          <td th:text="${user.userEmail}"></td>
                          <td th:text="${user.name}"></td>
                          <td th:text="${user.surname}"></td>
                          <td>
                            <a href="#" th:href="@{/}" th:text="#{edit}">Editar</a> | <!-- TODO aquí para ver como validar -->
                          </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer th:replace="sidebar_footer.html :: footer"></footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- BS JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>
